body {
    width:100%;
    margin:0;
    padding:0;
}


h1{
    margin:0 0 0.5rem 0;
    padding:0;
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;



}

h2 {
    font-family: 'Rajdhani', sans-serif;
    color: #F7D5A3; 
    font-size: 15px;
    margin: 0;
}

h3 {
    margin:0;
    padding:0;
    color: black;
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    text-align:center;
}

p {
    margin:0;
    padding:0;
    font-family: helvetica;
    font-size: 14px;
    font-weight:300;
}

a.ig {
    text-decoration: none;
    color: black;
    background-color: #F7D5A3;
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: 15px;
    
}

a.ig:hover {
    text-decoration: underline;
    color: black;
    background-color: #F7D5A3;
    border-radius: 0.3rem;
    padding: 0.5rem;
   
}
a.header {
    text-decoration:none;
    color: black;
}



img {
    max-width:100%;
    max-height:100%;
   
}

a.footer {
    font-family: 'Orbitron', sans-serif;
    color: #F7D5A3; 
    font-size: 15px;
    margin: 0;

    
}

.topbar {
    
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin-bottom: -3rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #F7D5A3;

}

.icon1, .icon2 {
    margin-top: 1rem;
    margin-right: 0.5rem;
}

nav {
    margin:2rem 0 0 0;
    padding:0;
}

nav ul {
    list-style-type:none;
    text-align: center;
    border-top: solid 0.5px grey;
    border-bottom: solid 0.5px grey;
    
}

nav li {
    display: inline-block;
    width: 6rem;
    margin: 0.5rem;
    border-radius: 0.3rem;


}

nav a {
    text-decoration:none;
    display: block;
    color: black;
    font-family: helvetica;
    font-size: 15px;
    font-weight: 100;
    padding: 0.5rem;
}

nav a:hover {
    background-color: #F7D5A3;
    border-radius: 0.3rem;
    color: white;
}



.section1 {
    width:100%;
    height:auto;
    padding: 5rem 0 0 0;
    margin: 0;
    text-align:center;
}

.section2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around;
}

.column1 {
    flex-basis: 50%;
    text-align: right;
    margin-top: 0rem;
  
   
}

.column2 {
    flex-basis: 50%;
    margin: 3rem 0 0 3rem;
    


}





footer {
    background-color: black;
    text-align: center;
    margin:0;
    padding: 2rem 0;

}