
html{
    width: 100%;
    height: 100%;
    margin: 0;  
}
body {

    width: 100%;
    height: 100%;

}


h1{
    
    padding-top:13rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 23px;

}

h2 {
    font-family: 'helvetica'; 
    color: #F7D5A3; 
    font-size: 15px;
    margin: 0;
    font-weight: 200;
}

a {
    font-family: 'Orbitron', sans-serif;
    color: #F7D5A3; 
    font-size: 15px;
    margin: 0;

    
}

.topbar {
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin-bottom: -3rem;
    margin-right: 1rem;
    z-index: 0;
}

.icon1, .icon2 {
    margin-top: 1rem;
    margin-right: 0.5rem;
}




nav ul {
    list-style-type:none;
    text-align: center;
    position:relative;
    padding:0;

}

nav {
    margin: 0 0 0 0;
}

nav li {
    display: inline-block;
    position:relative;
    width: 7rem;
    margin: 0.5rem 0.2rem;
    background-color: white;
    border-radius: 0.3rem;


}

nav a {
    text-decoration:none;
    display: block;
    color: gray;
    font-family: helvetica;
    font-size: 15px;
    font-weight: 200;
    padding: 0.5rem;
}

nav a:hover {
    background-color: #F7D5A3;
    border-radius: 0.3rem;
    color: white;
}

p {
    margin:0;
    padding:0;
    font-family: helvetica;
    font-size: 15px;
    font-weight:200;
}


video {
    position:fixed;
    min-width:100%;
    min-height:100%;

    top: 50%;
    left:50%;

    transform: translateX(-50%) translateY(-50%);

    

}

.section {
    width: 100%;
    height: 100%;
   position:relative;
   display:flex;
   justify-content: center;
   background-image: url(../img/image-poster.jpg);
   z-index: -1;


}

img.logo {
    margin: auto 0;
    right: 0;
    left: 0;
}

